kind: ServiceAccount
apiVersion: v1
metadata:
  name: cleanup-secrets
  namespace: oauth-code-token
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: oauth-code-token
  name: secret-reader
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "list", "watch", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: secret-reader-binding
  namespace: oauth-code-token
subjects:
  - kind: ServiceAccount
    name: cleanup-secrets
    namespace: oauth-code-token
roleRef:
  kind: Role
  name: secret-reader
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: cleanup-secrets
  namespace: oauth-code-token
spec:
  schedule: "0 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: cleanup-secrets
          containers:
            - name: cleanup
              image: '{{ list . "kubectl" | include "helpers.image.name" }}'
              env:
                - name: SECRET_NAMESPACE
                  value: "oauth-code-token"
                - name: SECRET_EXPIRY
                  value: {{ .Values.config.loginSessionConfig.maxSeconds | quote }}
              command:
                - /bin/sh
                - /scripts/cleanup.sh
              volumeMounts:
                - name: cleanup-script
                  mountPath: /scripts
                  readOnly: true
          restartPolicy: Never
          volumes:
            - name: cleanup-script
              configMap:
                name: cleanup-script
                defaultMode: 0555
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cleanup-script
  namespace: oauth-code-token
data:
  cleanup.sh: |
    #!/bin/bash
    set -e

    get_current_time() {
        date "+%d/%b/%Y:%H:%M:%S %z"
    }

    run_clear_job() {
        echo "================================================================"
        echo "[$(get_current_time)] Cleaning job started"
        echo "Deleting secrets older than ${SECRET_EXPIRY} seconds in namespace ${SECRET_NAMESPACE}"

        secret_names=$(kubectl get secrets -n ${SECRET_NAMESPACE} -o name | awk -F'/' '{print $NF}')

        for secret_name in ${secret_names}; do
            secret_create_time=$(date -d "$(kubectl get secrets -n ${SECRET_NAMESPACE} ${secret_name} -o jsonpath='{.metadata.creationTimestamp}')" +%s)
            time_diff=$(($(date +%s) - ${secret_create_time}))
            if [ ${time_diff} -gt ${SECRET_EXPIRY} ]; then
                kubectl delete secret ${secret_name} -n ${SECRET_NAMESPACE}
            fi
        done

        echo "Cleaning job finished."
        echo "================================================================"
    }

    if [ -z "${SECRET_NAMESPACE}" ] || [ -z "${SECRET_EXPIRY}" ]; then
        echo "Environment variables SECRET_NAMESPACE and SECRET_EXPIRY must be set"
        exit 1
    fi
    run_clear_job
